.main{
    flex-direction: column;
}

.row {
    display: flex;
}

.mosaic {
    height: 8px;
    width: 8px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.lateral-container {
    display: none;
    align-items:center;
    justify-items: center;
    flex-direction: column;
    padding: 10px;
}

body {
    display: flex;
}