.main{
    flex-direction: column;
}

.row {
    display: flex;
}

.mosaic {
    height: 8px;
    width: 8px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}